<error-spree [errorMessages]="errorMessages"></error-spree>

<div *ngIf="errorMessages.length == 0" style="margin-left:17px">
  <div>
    <p class="review-header">Contact Details</p>
  </div>
  <div>
    <div class="name">
      {{contact.firstName}} {{contact.lastName}}
    </div>
    <div class="title" *ngIf="contact.title">
      {{contact.title}}
    </div>
    <div class="company" *ngIf="contact.account">
      {{contact.account.name}}
    </div>
    <div class="email" *ngIf="contact.email">
      {{contact.email}}
    </div>

    <div *ngIf="contact.addresses && contact.addresses.length > 0" class="address-section">
      <div *ngFor="let address of contact.addresses" style="margin-top:20px">
        <div class="address-type">
          {{displayValueMapService.getDisplay(address.addressType, availableAddressTypes)}} Address
        </div>
        <div *ngIf="address.street1" class="address-line">
          {{address.street1}}
        </div>
        <div *ngIf="address.street2" class="address-line">
          {{address.street2}}
        </div>
        <div class="address-line">
          {{address.city}}<span *ngIf="address.city">, </span>{{address.state}} {{address.zip}}
        </div>
      </div>
    </div>

    <div *ngIf="contact.phones && contact.phones.length > 0" class="phone-section">
      <div class="phone-header">Phone(s)</div>
      <div *ngFor="let phone of contact.phones">
        <div class="phone">
          {{phone.phone}} ({{displayValueMapService.getDisplay(phone.phoneType, availablePhoneTypes)}})
        </div>
      </div>
    </div>

    <div *ngIf="contact.linesOfBusiness && contact.linesOfBusiness.length > 0" class="lob-section">
      <div class="lob-header">Lines of Business</div>
      <div *ngFor="let lob of contact.linesOfBusiness" class="lob-line">
        {{displayValueMapService.getDisplay(lob, availableLinesOfBusiness)}}
      </div>
    </div>

    <div class="other-details-section">
      <div class="other-details-header">Other Details</div>
      <div class="other-line" *ngIf="contact.status">
        <span class="other-label">Status:</span> <span class="other-value">{{displayValueMapService.getDisplay(contact.status, availableContactStatuses)}}</span>
      </div>
      <div class="other-line" *ngIf="contact.source">
        <span class="other-label">Source:</span> <span class="other-value">{{displayValueMapService.getDisplay(contact.source, availableSources)}}</span>
      </div>
      <div class="other-line" *ngIf="contact.sourceDetails">
        <span class="other-label">Source Details:</span> <span class="other-value">{{contact.sourceDetails}}</span>
      </div>
      <div class="other-line">
        <span class="other-label">Has Authority:</span>
        <span class="other-value" *ngIf="contact.authority">Yes</span>
        <span class="other-value" *ngIf="!contact.authority">No</span>
      </div>
      <div class="other-line" *ngIf="contact.timezone">
        <span class="other-label">Time Zone:</span> <span class="other-value">{{contact.timezone}}</span>
      </div>
      <div class="other-line" *ngIf="contact.birthdayMonth">
        <span class="other-label">Birth Month & Day:</span> <span class="other-value">{{contact.birthdayMonth}} {{contact.birthdayDay}}</span>
      </div>
      <div class="other-line">
        <span class="other-label">Can Call:</span>
        <span class="other-value" *ngIf="contact.canCall">Yes</span>
        <span class="other-value" *ngIf="!contact.canCall">No</span>
      </div>
      <div class="other-line">
        <span class="other-label">Can Text:</span>
        <span class="other-value" *ngIf="contact.canText">Yes</span>
        <span class="other-value" *ngIf="!contact.canText">No</span>
      </div>
      <div class="other-line">
        <span class="other-label">Can Email:</span>
        <span class="other-value" *ngIf="contact.canEmail">Yes</span>
        <span class="other-value" *ngIf="!contact.canEmail">No</span>
      </div>
    </div>
  </div>
</div>
