mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

.mat-sidenav {
  width: 220px;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
