mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  /* Using 100vh causes double scrollbars to appear on some devices */
  height: 90vh;
}

mat-sidenav-container {
  padding-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.mat-sidenav {
  width: 220px;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

