<div class="centered-card">
  <mat-card style="width: 70%">
    <mat-card-header>
      Profile Image
    </mat-card-header>
    <mat-card-content>
      <div class="alert-section">
        <alert></alert>
      </div>
      <div>
        <div style="text-align: center">
          <app-image-uploader (uploadedImage)="onUploadedImage($event)"></app-image-uploader>
        </div>
        <div *ngIf="!uploading" style="text-align:center">
          <button mat-raised-button color="primary" [disabled]="!currentFileUpload" (click)="upload()">Save Image</button>
        </div>
        <div *ngIf="uploading">
          <mat-spinner [diameter]="50" class="center-div"></mat-spinner>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
