<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="column">
      <div style="margin-bottom:20px">
        <alert></alert>
      </div>
      <div class="absolute-center" *ngIf="dataLoading">
        <mat-spinner [diameter]="80"></mat-spinner>
      </div>
      <div *ngIf="!dataLoading">
        <div>
          <form [formGroup]="form" (ngSubmit)="update()">
            <div class="vertical-form-field">
              <div class="label">First Name</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="firstName" matInput placeholder="Enter first name" maxlength="50">
                  <mat-error *ngIf="form.controls['firstName'].invalid">Please enter a valid first name</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Last Name</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="lastName" matInput placeholder="Enter last name" maxlength="50">
                  <mat-error *ngIf="form.controls['lastName'].invalid">Please enter a valid last name</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Street 1</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:50%">
                  <input formControlName="street1" matInput placeholder="Enter street 1 address" maxlength="80">
                  <mat-error *ngIf="form.controls['street1'].invalid">Please enter a valid street name</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Street 2</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:50%">
                  <input formControlName="street2" matInput placeholder="Enter street 2 address" maxlength="80">
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">City</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="city" matInput placeholder="Enter city" maxlength="50">
                  <mat-error *ngIf="form.controls['city'].invalid">Please enter a valid city</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">State</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field">
                  <mat-select formControlName="state" placeholder="Select a state">
                    <mat-option *ngFor="let state of states" [value]="state.twoLetterCode">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls['state'].invalid">Please select a state</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Zip</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:30%">
                  <input formControlName="zip" matInput placeholder="Enter zip code" maxlength="12">
                  <mat-error *ngIf="form.controls['zip'].invalid">Please enter a valid zip code</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Country</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field">
                  <mat-select formControlName="country" placeholder="Select a country">
                    <mat-option *ngFor="let country of countries" [value]="country.twoLetterCode">
                      {{country.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls['country'].invalid">Please select a country</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Email</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:40%">
                  <input formControlName="email" matInput placeholder="Enter email address" maxlength="50">
                  <mat-error *ngIf="form.controls['email'].invalid">Please enter a valid email address</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="vertical-form-field">
              <div class="label">Phone</div>
              <div>
                <mat-form-field appearance="fill" class="no-label-field" style="width:40%">
                  <input formControlName="phoneNumber" matInput placeholder="Enter phone number" maxlength="20">
                  <mat-error *ngIf="form.controls['phoneNumber'].invalid">Please enter a valid phone number</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div style="margin-top:10px; margin-bottom:10px">
              <button type="submit" *ngIf="!formSubmitted" [disabled]="!form.valid" mat-raised-button color="primary">Save Info</button>
              <mat-spinner *ngIf="formSubmitted" [diameter]="50"></mat-spinner>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
