<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="column">
      <div>
        <alert></alert>
      </div>
      <server-side-error-spree [serverSideErrors]="serverSideErrors"></server-side-error-spree>
      <div class="absolute-center" *ngIf="dataLoading">
        <mat-spinner [diameter]="80"></mat-spinner>
      </div>
      <div *ngIf="!dataLoading" style="margin-right:10px">
        <mat-vertical-stepper #stepper (selectionChange)="onStepChange($event)">
          <mat-step label="Basic Info">
            <contact-basic-info-form [contact]="contact"></contact-basic-info-form>
            <div class="stepper-navigation">
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Addresses">
            <contact-addresses-form style="margin-top:15px" [contact]="contact"></contact-addresses-form>
            <div class="stepper-navigation">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Phones">
            <contact-phones-form [contact]="contact"></contact-phones-form>
            <div class="stepper-navigation">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Review & Save">
            <contact-review-form [contact]="contact" [errorMessages]="errorMessages"></contact-review-form>
            <div style="margin-top:40px; margin-bottom:20px;margin-left:17px">
              <button [disabled]="!allFormsValid" *ngIf="!formSubmitted" mat-raised-button color="primary" (click)="saveInfo()">Save Info</button>
              <mat-spinner *ngIf="formSubmitted" [diameter]="50"></mat-spinner>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
</div>
