<div fxFlex fxLayout="column" fxLayoutGap="0px" class="route-content">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="column">
      <div>
        <h4>Add Contact</h4>
      </div>
      <div style="margin-bottom:20px">
        <alert></alert>
      </div>
      <div class="absolute-center" *ngIf="dataLoading">
        <mat-spinner [diameter]="80"></mat-spinner>
      </div>
      <div *ngIf="!dataLoading" style="margin-right:10px">
        <mat-vertical-stepper #stepper (selectionChange)="onStepChange($event)">
          <mat-step label="Basic Info">
            <contact-basic-info-form></contact-basic-info-form>
          </mat-step>
          <mat-step label="Addresses">
            <contact-addresses-form style="margin-top:15px"></contact-addresses-form>
          </mat-step>
          <mat-step label="Phones">
            <contact-phones-form></contact-phones-form>
          </mat-step>
          <mat-step label="Review & Save">
            <contact-review-form [contact]="contact" [errorMessages]="errorMessages"></contact-review-form>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
</div>
