<form [formGroup]="phoneTypeFormGroup">

  <div class="vertical-form-field" fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
    <mat-form-field appearance="fill" class="no-label-field" style="height:125px">
      <div fxLayout="row wrap">
        <div fxFlex="20" fxFlex.lt-md="100">
          <ngx-flag-picker [selectedCountryCode]="selectedCountryCode"
                            [countryCodes]="countryCodes"
                            (changedCountryCode)="changeSelectedCountryCode($event)">
          </ngx-flag-picker>
        </div>
        <div fxFlex="10" fxFlex.lt-md="20" [ngStyle.lt-md]="{'margin-top': '10px'}">
          {{phoneCode}}
        </div>
        <div fxFlex="60" fxFlex.lt-md="70" [ngStyle.lt-md]="{'margin-top': '10px'}">
          <input appPhoneMask formControlName="phone" [countryCode]="selectedCountryCode" matInput placeholder="Enter a phone number" maxlength="20">
        </div>
      </div>
      <mat-error *ngIf="phoneTypeFormGroup.controls['phone'].invalid">Please enter a valid phone number</mat-error>
    </mat-form-field>
  </div>
</form>
