<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div fxLayoutAlign="center">
        <img style="margin-top:30px" src="/assets/img/logo/careydevelopment-logo-sm.png" />
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <h2 style="margin-top:100px" class="my-primary-text">CRM App</h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <img src="/assets/img/vector/office-env2.jpg" />
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <a href='https://www.freepik.com/vectors/business'>Business vector created by pikisuperstar - www.freepik.com</a>
      </div>
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>Welcome to the CRM App</h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <h4>Please sign in below</h4>
        </div>
      </div>

      <mat-short-vertical-login></mat-short-vertical-login>
      
    </div>
  </div> 
</div>
