<div fxFlex="100" fxLayout="column" fxLayoutGap="0px" class="route-content">
  <div>
    <h4>{{pageTitle}}</h4>
  </div>
  <div style="margin-bottom:20px">
    <alert></alert>
  </div>
  <div class="absolute-center" *ngIf="loading">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
  <div *ngIf="!loading" style="margin-right:10px">
    <form [formGroup]="activityFormGroup">
      <div fxLayout="column">

        <div class="vertical-form-field">
          <div class="label">Activity Type</div>
          <div>
            <mat-form-field appearance="fill" class="no-label-field" fxFlex="30" fxFlex.lt-md="100">
              <mat-select formControlName="type" placeholder="Select a type" (selectionChange)="activityTypeChanged($event.value)">
                <mat-option *ngFor="let type of availableActivityTypes" [value]="type.name">
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="activityFormGroup.controls['type'].invalid">Please select a type</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="vertical-form-field">
          <div class="label">Title</div>
          <div>
            <mat-form-field appearance="fill" class="no-label-field" fxFlex="50" fxFlex.lt-md="100">
              <input formControlName="title" matInput placeholder="Enter activity title" maxlength="50">
              <mat-error *ngIf="activityFormGroup.controls['title'].invalid">Please enter valid title</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="vertical-form-field" *ngIf="selectedActivityType && selectedActivityType.usesLocation">
          <div class="label">Location</div>
          <div>
            <mat-form-field appearance="fill" class="no-label-field" fxFlex="50" fxFlex.lt-md="100">
              <input formControlName="location" matInput placeholder="Enter activity location" maxlength="50">
              <mat-error *ngIf="activityFormGroup.controls['location'].invalid">Please enter valid location</mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
