<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row wrap" fxLayoutGap="5px">
    <div fxFlex.gt-md="49" fxFlex="100"><app-future-pipeline></app-future-pipeline></div>
    <div fxFlex.gt-md="49" fxFlex="100"><app-deal-share-by-contact></app-deal-share-by-contact></div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="5px">
    <div fxFlex.gt-md="49" fxFlex="100"><app-revenue-contribution></app-revenue-contribution></div>
    <div fxFlex.gt-md="49" fxFlex="100"><app-accounts-ranked></app-accounts-ranked></div>
  </div>
  <div>&nbsp;</div>
</div>
