<div>
  <div style="margin-bottom:20px">
    <alert></alert>
  </div>
  <div class="absolute-center" *ngIf="dataLoading">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
  <div [style.visibility]="dataLoading ? 'hidden' : 'visible'">
    <div style="margin-bottom: 30px">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="vertical-form-field">
          <div class="label">Industry</div>
          <div>
            <mat-form-field appearance="fill" class="no-label-field">
              <mat-select [formControl]="industryFilter">
                <mat-option value="">-- Select an Industry --</mat-option>
                <mat-option *ngFor="let industry of availableIndustries" [value]="industry.value">
                  {{industry.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="vertical-form-field">
          <div class="label">Status</div>
          <div>
            <mat-form-field appearance="fill" class="no-label-field">
              <mat-select [formControl]="statusFilter">
                <mat-option value="">-- Select a Status --</mat-option>
                <mat-option *ngFor="let status of availableAccountStatuses" [value]="status.value">
                  {{status.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="action">
          <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:10%">
              <button mat-icon-button color="primary" (click)="viewAccount(row)" title="View Account"><mat-icon>preview</mat-icon></button>
              <button mat-icon-button color="primary" (click)="editAccount(row)" title="Edit Account"><mat-icon>edit</mat-icon></button>
            </td>
          <tr>
        </ng-container>

        <ng-container matColumnDef="name">
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th></tr>
          <tr><td mat-cell *matCellDef="let row" style="width:20%"> {{row.name}} </td><tr>
        </ng-container>

        <ng-container matColumnDef="industry" style="width: 10%">
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> Industry </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:10%">
              {{displayValueMapService.getDisplay(row.industry, availableIndustries)}}
            </td>
          </tr>
        </ng-container>

        <ng-container matColumnDef="status">
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:10%">
              {{displayValueMapService.getDisplay(row.status, availableAccountStatuses)}}
            </td>
          </tr>
        </ng-container>

        <ng-container matColumnDef="location">
          <tr><th mat-header-cell *matHeaderCellDef style="width:500px"> Location </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:20%">
              <span *ngIf="row.address && row.address.city">{{row.address.city}}</span><span *ngIf="row.address && row.address.state">, {{row.address.state}}</span>
            </td>
          <tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
