html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

html {
    width: 100%;
    background-color: #ffffff;
}

h1 {
    font-size: 34pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 18pt;
}

h4 {
  font-size: 14pt;
}

.center-div {
  text-align:center;
  width: 50%;
  margin: 0 auto
}

.mat-form-field-flex {
  background-color: #ffffff !important;
}

/* Prevents horizontal scrollbar from appearing on left nav side bar */
/* Gotta account for the left-hand padding in child menu items */
.menu-child a.mat-list-item {
  box-sizing: border-box;
}

.route-content {
  padding-left: 10px;
}

.upload-image-box {
  border: solid 1px #3F51B5;
  padding: 10px 5px 10px 5px;
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
}
