/*Necessary for Quill*/
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

html {
    width: 100%;
    background-color: #ffffff;
}

h1 {
    font-size: 34pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 18pt;
}

h4 {
  font-size: 12pt;
}

.center-div {
  text-align:center;
  width: 50%;
  margin: 0 auto
}

.mat-form-field-flex {
  background-color: #ffffff !important;
}

/* Prevents horizontal scrollbar from appearing on left nav side bar */
/* Gotta account for the left-hand padding in child menu items */
.menu-child a.mat-list-item {
  box-sizing: border-box;
}

.upload-image-box {
  border: solid 1px #3F51B5;
  padding: 10px 5px 10px 5px;
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
}

.label {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
  margin-left: 4px;
  font-size: 12pt;
}

.vertical-form-field {
  margin-bottom: 15px;
}

.no-label-field .mat-form-field-infix {
  border-top: none;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.chart {
  height: 100%;
}

.chart-spinner {
  height: 100%;
}

.chart-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

.chart-subtitle {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 12pt;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.stepper-navigation {
  margin-top:30px;
}

.mat-vertical-stepper-content {
  margin-top:15px;
}

.mat-step-icon-invalid {
  background-color: red !important;
}

.list-country-flags {
  max-height: 100px !important;
}

.badge {
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: #ffffff;
  font-size: 10pt;
  height: 16px;
}

.badge-info {
  background-color: #3F51B5;
}

.badge-success {
  background-color: green;
}

.badge-error {
  background-color: red;
}

.badge-warning {
  background-color: darkkhaki;
}

.badge-muted {
  background-color: #CCCCCC;
  color: #000000;
}

.mat-expansion-panel-header-title {
  font-size: 16pt;
  font-weight: 400;
}

.mat-card-title {
  font-size: 16pt;
  font-weight: 400;
}

.icon-list-item {
  margin-bottom: 30px;
}

.icon-list-line {
  margin-bottom: 5px;
}

.icon-list-title {
  font-size: 16px;
  color: #3F51B5;
  font-weight: 500;
}

ol.breadcrumbs {
  padding: 0;
  list-style-type: none;
}

.breadcrumb-current-route {
  color: inherit;
  font-weight: 500;
}

.breadcrumb-history-link {
  color: #3F51B5;
  text-decoration: underline;
  cursor: pointer;
}

mat-sidenav-content {
  padding-left: 10px;
  padding-right: 10px;
}

ol.breadcrumbs li {
  list-style-type: none;
}

.progress-div {
  box-sizing: border-box;
  padding-bottom: 15px;
}

.progress {
  padding: 0;
  list-style-type: none;
  font-family: arial;
  font-size: 12px;
  clear: both;
  line-height: 1em;
  margin: 0 -1px;
  text-align: center;
}

.progress li {
  float: left;
  padding: 10px 30px 10px 40px;
  background: #3F51B5;
  color: #fff;
  position: relative;
  width: 10%;
  margin: 0 1px;
}

.progress li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.progress li.not-first:before {
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.progress li:after {
  content: '';
  border-left: 16px solid #3F51B5;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

.progress li.inactive {
  background: #555;
  cursor: pointer;
}

.progress li.inactive:hover {
  background: #33B0FF;
}

.progress li.inactive:after {
  border-left-color: #555;
}

.progress li.inactive:hover::after {
  border-left-color: #33B0FF;
}

.progress li.completed {
  width: 2% !important;
}

.progress .active-status {
  font-weight:bold;
}

.route-content-top {
  margin-bottom: 15px;
}

.link {
  color: #3F51B5
}

.card-header {
  font-size: 22pt;
  font-weight: 400
}

.card-header-medium {
  font-size: 16pt;
  font-weight: 400
}

.medium-notification {
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.full-notification {
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.info-background {
  background-color: #3F51B5;
}

.success-background {
  background-color: green;
}

.error-background {
  background-color: red;
}

.warning-background {
  background-color: darkkhaki;
}

.info-text {
  color: #3F51B5;
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}


.warning-text {
  color: darkkhaki
}

@media only screen and (min-width: 960px) {
  ol.breadcrumbs li {
    list-style-type: none;
    display: inline
  }

  .route-content-top {
    height: 30px;
  }
}

.clickable-image {
  cursor: pointer;
}

.tag-background {
  background-color: #f0f0f0;
  padding: 2px 10px 2px 10px;
}

.lean-data {
  color: #3F51B5 
}

.view-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.label-spacing {
  margin-bottom: 20px;
}
