html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

html {
    width: 100%;
    background-color: #ffffff;
}

h1 {
    font-size: 34pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 18pt;
}

h4 {
  font-size: 14pt;
}

.center-div {
  text-align:center;
  width: 50%;
  margin: 0 auto
}

.mat-form-field-flex {
  background-color: #ffffff !important;
}

.mat-card-header-text {
  margin: 0 0px !important;
}

.mat-card-header {
  font-size: 16pt;
  margin-bottom: 30px;
}

.card-content {
  font-size: 12pt;
}

/* Prevents horizontal scrollbar from appearing on left nav side bar */
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  width: 94% !important;
}
